# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

#other stuff

data/txt/testoutput.txt
code/dp_pd_analysis_cache/html/unnamed-chunk-11_514eb9fc1f28e85a8e578f29e0e5b822.rdb
.rdbdata
_drafts
_reviews
__packages
data/_cnki
.git/objects/pack/pack-45123c6f6045fb7844ff3d1e4b8e7517dc24fab6.pack
data/leader_collected_works/unsorted/_(Governance of China ♯3) Xi Jinping - The Governance of China. 3 (2020).pdf
_drafts
_reviews
_cnki
_(Governance of China ♯3) Xi Jinping - The Governance of China. 3 (2020).pdf
